h2 {
  margin-top: 2.5rem;
  text-align: center;
}

#headerButtonContainer {
  position: absolute;
  top: 0;
  right: 0;
  padding: 1rem;
}

.headerButtons {
  display: block;
  width: 100%;
  margin-bottom: 0.25rem;
  padding: 0.75rem 1rem;
  color: white;
  border: none;
  text-decoration: none;
  font-size: 1rem;
  background-color: rgb(15, 100, 200);
}

.lineChartContainer {
  width: 85%;
  margin: auto;
  margin-top: 50px;
}

.graphNavContainer {
  text-align: center;
  margin: auto;
  margin-top: 1em;
}

.graphNav a,
#weightAndCalories {
  text-align: center;
  padding: 1rem 1.25rem;
  text-decoration: none;
  font-size: 1rem;
  background-color: rgb(144, 144, 144);
  color: #f2f2f2;
}

#weightAndCalories {
  width: 11.3rem;
  margin: auto;
  margin-top: 20px;
}

.graphNav a:hover,
#weightAndCalories:hover {
  background-color: #ddd;
  color: black;
}
.graphNav a.active,
#weightAndCalories.active {
  background-color: rgb(106, 212, 134);
  color: white;
}

.createFormContainer {
  text-align: center;
}

#createFormButton {
  text-align: center;
  margin-top: 6px;
  margin-bottom: 10px;
  padding: 1rem 1.25rem;
  border: none;
  text-decoration: none;
  font-size: 1rem;
  background-color: rgb(15, 100, 200);
  color: white;
}

#createFormButton:hover,
.headerButtons:hover {
  background-color: rgb(136, 184, 240);
  color: black;
}

footer {
  text-align: center;
  height: 2rem;
  width: 100%;
  margin-top: 5rem;
  line-height: 2rem;
  box-shadow: inset 0px 0px 15px 3px #23395e;
  background: linear-gradient(to bottom, #2e466e 5%, #415989 100%);
  background-color: #2e466e;
  border: 1px solid #1f2f47;
  color: #f2f2f2;
  text-decoration: none;
}

#overlay {
  z-index: 2;
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

@media only screen and (max-width: 1024px) {
  .headerButtons {
    padding: 0.5rem 0.75rem;
    font-size: 0.8rem;
  }
}

@media only screen and (max-width: 900px) {
  h2 {
    font-size: 1.25rem;
  }
}

@media only screen and (max-width: 700px) {
  h2 {
    font-size: 1rem;
  }

  .headerButtons {
    padding: 0.4rem 0.6rem;
  }
}

@media only screen and (max-width: 700px) {
  .graphNav a,
  #weightAndCalories {
    padding: 0.75rem 1rem;
    font-size: 0.8rem;
  }

  #createFormButton {
    padding: 0.75rem 1rem;
    font-size: 0.8rem;
  }
}
