table {
  border-collapse: collapse;
  margin: auto;
}

td,
th {
  vertical-align: middle;
  text-align: center;
  padding: 8px 20px 8px 5px;
  font-size: 18px;
}

td {
  border-top: solid 1px #b1b1b1;
}

.editButton {
  text-align: center;
  padding: 6px 10px 6px 10px;
  color: white;
  background-color: rgb(15, 100, 200);
}

.editButton:hover {
  background-color: rgb(136, 184, 240);
  color: black;
}

.removeButton {
  text-align: center;
  padding: 6px 10px 6px 10px;
  color: white;
  border-radius: 50%;
  background-color: rgb(144, 144, 144);
}

.removeButton:hover {
  background-color: #ddd;
  color: black;
}
